[Unit]
Description=Soundbox Script
After=network.target

[Service]
WorkingDirectory=/home/YOUR_USERNAME/soundbox
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/YOUR_USERNAME/soundbox/venv/bin/python /home/YOUR_USERNAME/soundbox/pi.py
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target